<app-siderbar></app-siderbar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Módulo</h6>

                <!-- Title -->
                <h1 class="header-title">Clientes</h1>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>

        <!-- Alert -->

        <!-- Card -->
        <div class="card">
          <div class="card-header">
            <h5 style="margin-bottom: 0px">Actulizar cliente</h5>
          </div>

          <form #updateForm="ngForm" (ngSubmit)="actualizar(updateForm)">
            <div class="card box-shadow-sm">
              <ng-container *ngIf="load_data">
                <div class="card-body">
                  <div class="row">
                    <div class="col-12 text-center">
                      <div
                        class="spinner-border"
                        style="width: 3rem; height: 3rem"
                        role="status"
                      >
                        <span class="visually-hidden">Loading...</span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="!load_data">
                <div class="card-body" *ngIf="cliente != undefined">
                  <div class="row">
                    <div class="col-md-4 form-group">
                      <label for="validationCustom01" class="form-label"
                        >Nombres</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        name="nombres"
                        [(ngModel)]="cliente.nombres"
                        placeholder="Nombres completos"
                        required
                      />
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="validationCustom01" class="form-label"
                        >Apellidos</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        name="apellidos"
                        [(ngModel)]="cliente.apellidos"
                        placeholder="Apellidos completos"
                        required
                      />
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="validationCustom01" class="form-label"
                        >Correo electrónico</label
                      >
                      <input
                        class="form-control"
                        type="email"
                        name="email"
                        [(ngModel)]="cliente.email"
                        placeholder="Correo electrónico"
                        required
                      />
                    </div>

                    <div class="col-md-4 form-group">
                      <label for="validationCustom01" class="form-label"
                        >Telefono</label
                      >
                      <input
                        class="form-control"
                        type="text"
                        name="telefono"
                        [(ngModel)]="cliente.telefono"
                        placeholder="Telefono"
                        required
                      />
                    </div>
                    <div class="col-md-4 form-group">
                      <label for="validationCustom01" class="form-label"
                        >Fecha nacimiento</label
                      >
                      <input
                        class="form-control"
                        type="date"
                        name="f_nacimiento"
                        [(ngModel)]="cliente.f_nacimiento"
                        placeholder="First name"
                        required
                      />
                    </div>

                    <div class="col-md-4">
                      <label for="validationCustom01" class="form-label"
                        >Genero</label
                      >
                      <select
                        class="form-control custom-select"
                        name="genero"
                        [(ngModel)]="cliente.genero"
                        required
                      >
                        <option value="" disabled selected>Selecionar</option>
                        <option value="Masculino">Masculino</option>
                        <option value="Femenino">Femenino</option>
                      </select>
                    </div>
                  </div>
                </div>
                <ng-container *ngIf="cliente == undefined">
                  <div class="card">
                    <div class="card-body">
                      <div class="row justify-content-center">
                        <div class="col-12 col-md-5 col-xl-4 my-5">
                          <div class="text-center">
                            <!-- Preheading -->
                            <h6 class="text-uppercase text-muted mb-4">
                              Error 404
                            </h6>

                            <!-- Heading -->
                            <h1 class="display-4 mb-3">
                              no hay pagina aqui 😭
                            </h1>

                            <!-- Subheading -->
                            <p class="text-muted mb-4">
                              Parece que llegaste aquí por accidente
                            </p>

                            <!-- Button -->
                            <a
                              [routerLink]="['/panel/clientes']"
                              class="btn btn-lg btn-primary"
                            >
                              Regresar a clientes
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </ng-container>
              <div class="card-footer" *ngIf="cliente != undefined">
                <button
                  *ngIf="!load_btn"
                  class="btn btn-primary mr-3"
                  type="submit"
                >
                  Actualizar cliente
                </button>
                <button
                  *ngIf="load_btn"
                  type="button"
                  class="btn btn-secondary"
                  disabled
                >
                  <span
                    class="spinner-grow spinner-grow-sm me-2"
                    role="status"
                    aria-hidden="true"
                  ></span>
                  Actulizando...
                </button>
                <a [routerLink]="['/panel/clientes']" class="btn btn-warning"
                  >Regresar</a
                >
              </div>
            </div>
          </form>
        </div>

        <br />
      </div>
    </div>
    <!-- / .row -->
  </div>
</div>
