<app-siderbar></app-siderbar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Visión general</h6>

                <!-- Title -->
                <h1 class="header-title">Panel</h1>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Ganancia total
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0"> ${{ total_ganancia }} </span>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Numero de ventas
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0"> {{ count_ventas }} </span>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <!-- Card -->
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Ganancia del mes
                      <i
                        class="fe fe-info"
                        data-toggle="tooltip"
                        data-title="Your limits renew on May 1, 2020"
                        data-original-title=""
                        title=""
                      ></i>
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0"> ${{ total_mes }}</span>
                  </div>
                  <div class="col-auto">
                    <!-- Chart -->
                    <div class="chart chart-sparkline">
                      <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                          <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                          <div class=""></div>
                        </div>
                      </div>
                      <canvas
                        class="chart-canvas chartjs-render-monitor"
                        id="sparklineChart"
                        style="display: block; width: 75px; height: 35px"
                        width="75"
                        height="35"
                      ></canvas>
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <div class="row align-items-center">
                  <div class="col">
                    <!-- Title -->
                    <h6 class="text-uppercase text-muted mb-2">
                      Mes anterior
                      <i
                        class="fe fe-info"
                        data-toggle="tooltip"
                        data-title="Your limits renew on May 1, 2020"
                        data-original-title=""
                        title=""
                      ></i>
                    </h6>

                    <!-- Heading -->
                    <span class="h2 mb-0"> $ {{ total_mes_ant }} </span>
                  </div>
                  <div class="col-auto">
                    <!-- Chart -->
                    <div class="chart chart-sparkline">
                      <div class="chartjs-size-monitor">
                        <div class="chartjs-size-monitor-expand">
                          <div class=""></div>
                        </div>
                        <div class="chartjs-size-monitor-shrink">
                          <div class=""></div>
                        </div>
                      </div>
                      <canvas
                        class="chart-canvas chartjs-render-monitor"
                        id="sparklineChart"
                        style="display: block; width: 75px; height: 35px"
                        width="75"
                        height="35"
                      ></canvas>
                    </div>
                  </div>
                </div>
                <!-- / .row -->
              </div>
            </div>
            <br />
          </div>
        </div>
        <!-- / .row -->
        <div class="card-body">
          <div class="row">
            <div class="col-12">
              <canvas
                id="myChart"
                class="chart-canvas"
                width="75"
                height="35"
                style="
                  display: block;
                  box-sizing: border-box;
                  height: 35px;
                  width: 75px;
                "
              ></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
