<app-siderbar></app-siderbar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Módulo</h6>

                <!-- Title -->
                <h1 class="header-title">Descuentos</h1>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>

        <!-- Alert -->

        <!-- Card -->
        <form #registroForm="ngForm" (ngSubmit)="actualizar(registroForm)">
          <div class="card">
            <div class="card-header">
              <!-- Title -->
              <h2 class="card-header-title">Actualizar Descuento</h2>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-lg-8">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="h3"
                          >TÍtulo del producto (*)</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          required
                          placeholder="Titulo del descuento"
                          name="titulo"
                          [(ngModel)]="descuento.titulo"
                        />
                      </div>
                    </div>

                    <div class="col-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="h3"
                          >Fecha inicio (*)</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          required
                          name="fecha_inicio"
                          [(ngModel)]="descuento.fecha_inicio"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="h3"
                          >Fecha fin (*)</label
                        >
                        <input
                          type="date"
                          class="form-control"
                          required
                          name="fecha_fin"
                          [(ngModel)]="descuento.fecha_fin"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="h3"
                          >Descuento %(*)</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          required
                          placeholder="Porcentaje del descuento"
                          name="descuento"
                          [(ngModel)]="descuento.descuento"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="row">
                    <div class="col-lg-12 form-group">
                      <label for="" class="h3">Portada (*)</label>
                      <div class="custom-file">
                        <input
                          class="custom-file-input"
                          type="file"
                          id="file-input"
                          (change)="fileChangeEvent($event)"
                        />
                        <label
                          class="custom-file-label"
                          id="input-portada"
                          for="file-input"
                          style="white-space: nowrap; overflow: hidden"
                          >Seleccionar imagen</label
                        >
                      </div>
                    </div>
                    <div class="col-lg-12">
                      <img
                        [src]="imgSelect"
                        class="img-thumbnail"
                        alt="Rounded image"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button
                *ngIf="!load_btn"
                class="btn btn-primary btn-shadow mr-3"
                type="submit"
              >
                Editar
              </button>
              <a
                class="btn btn-warning btn-shadow"
                [routerLink]="['/panel/descuentos']"
                routerLinkActive="router-link-active"
                >Regresar</a
              >
              <button
                disabled
                *ngIf="load_btn"
                type="button"
                class="btn btn-primary btn-shadow"
              >
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                Creando...
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
</div>
