<app-siderbar></app-siderbar>

<div class="main-content">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-10 col-xl-8">
        <!-- Header -->
        <div class="header mt-md-5">
          <div class="header-body">
            <div class="row align-items-center">
              <div class="col">
                <!-- Pretitle -->
                <h6 class="header-pretitle">Módulo</h6>

                <!-- Title -->
                <h1 class="header-title">Cupones</h1>
              </div>
            </div>
            <!-- / .row -->
          </div>
        </div>

        <!-- Alert -->

        <!-- Card -->
        <form #registroForm="ngForm" (ngSubmit)="registro(registroForm)">
          <div class="card">
            <div class="card-header">
              <!-- Title -->
              <h2 class="card-header-title">Registro de un nuevo cupón</h2>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-lg-12">
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="h3"
                          >Código (*)</label
                        >
                        <input
                          type="text"
                          required
                          class="form-control"
                          placeholder="Código del cupón"
                          name="codigo"
                          [(ngModel)]="cupon.codigo"
                        />
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="h3"
                          >Canjes (*)</label
                        >
                        <input
                          type="number"
                          class="form-control"
                          required
                          placeholder="Número de canjes"
                          name="limite"
                          [(ngModel)]="cupon.limite"
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-4">
                      <div class="form-group">
                        <label for="exampleInputEmail1" class="h3"
                          >Tipo descuento (*)</label
                        >
                        <select
                          class="form-control custom-select"
                          id="select-input"
                          required
                          name="tipo"
                          [(ngModel)]="cupon.tipo"
                        >
                          <option value="" selected disabled>
                            Seleccionar
                          </option>
                          <option value="Porcentaje">Porcentaje</option>
                          <option value="Valor fijo">Valor fijo</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-4">
                      <label for="validationCustom01" class="form-label h3">
                        Valor
                      </label>
                      <input
                        class="form-control"
                        type="number"
                        placeholder="Valor del descuento"
                        required
                        name="valor"
                        [(ngModel)]="cupon.valor"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button
                *ngIf="!load_btn"
                class="btn btn-primary btn-shadow mr-3"
                type="submit"
              >
                Crear
              </button>
              <a
                class="btn btn-warning btn-shadow"
                [routerLink]="['/panel/cupones']"
                routerLinkActive="router-link-active"
                >Regresar</a
              >
              <button
                disabled
                *ngIf="load_btn"
                type="button"
                class="btn btn-primary btn-shadow"
              >
                <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"
                ></span>
                Creando...
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- / .row -->
  </div>
</div>
