<section class="h-100 gradient-form" style="background-color: #0f4553">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <!-- Tamaño del componente -->
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-4 mx-md-3">
                <div class="text-center">
                  <img
                    src="../../../assets/img/Originals/AMANTOLI.png"
                    style="width: 270px; padding-top: 0px"
                    alt="logo"
                  />
                  <h3 class="mt-1 mb-15 pb-1">Panel de administración</h3>
                </div>

                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <div class="form-group">
                    <label for="signin-email">Correo electrónico</label>
                    <input
                      type="email"
                      class="form-control text-xl"
                      name="email"
                      [(ngModel)]="user.email"
                      placeholder="Correo electrónico"
                      required=""
                    />
                  </div>
                  <div class="form-group">
                    <label for="signin-password" class="form-label"
                      >Contraseña</label
                    >
                    <div class="cs-password-toggle input-group-overlay">
                      <input
                        type="password"
                        class="form-control appended-form-control"
                        name="password"
                        [(ngModel)]="user.password"
                        placeholder="Ingrese la contraseña"
                        required=""
                      />
                      <div class="input-group-append-overlay">
                        <label
                          class="btn cs-password-toggle-btn input-group-text"
                        >
                          <input type="checkbox" class="custom-control-input" />
                          <i class="cxi-eye cs-password-toggle-indicator"></i>
                          <span class="sr-only">Show password</span>
                        </label>
                      </div>
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary btn-block">
                    Iniciar sesión
                  </button>
                </form>
              </div>
            </div>
            <div class="img-fluid">
              <img
                src="../../../assets/img/Originals/arte-admin6.png"
                style="
                  display: block;
                  margin: auto;
                  max-width: 100%;
                  width: 510px;
                  height: 100%;
                "
                class="img-fluid"
                alt="logo"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
