<nav
  class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light"
  id="sidebar"
>
  <div class="container-fluid">
    <!-- Toggler -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#sidebarCollapse"
      aria-controls="sidebarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Brand -->
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img
        src="../../../assets/img/Originals/AMANTOLI4.png"
        class="navbar-brand-img mx-auto text-center"
        style="max-height: 6rem !important"
        alt="..."
        width="90"
      />
    </a>

    <!-- User (xs) -->
    <div class="navbar-user d-md-none">
      <!-- Dropdown -->
      <div class="dropdown">
        <!-- Toggle -->
        <a
          href="#"
          id="sidebarIcon"
          class="dropdown-toggle"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <div class="avatar avatar-sm avatar-online">
            <img
              src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png"
              class="avatar-img rounded-circle"
              alt="..."
            />
          </div>
        </a>

        <!-- Menu -->
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="sidebarIcon"
        >
          <a class="dropdown-item" style="cursor: pointer">
            <span class="fa-solid fa-user me-4"></span> Hoa
          </a>
          <a class="dropdown-item" style="cursor: pointer" (click)="logout()">
            <span class="fe fe-log-out me-4"></span> Cerrar sesión
          </a>
        </div>
      </div>
    </div>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidebarCollapse">
      <!-- Heading -->
      <!-- <h1 class="navbar-heading h2">CONTROL</h1> -->
      <h5 class="text" style="width: 1px">CONTROL</h5>
      <!-- Navigation -->
      <ul class="navbar-nav mb-md-4">
        <li class="nav-item">
          <a
            class="nav-link h2"
            [routerLink]="['/inicio']"
            routerLinkActive="active"
          >
            <i class="fa-brands fa-dashcube mr-3"></i> Panel
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link h2"
            [routerLink]="['/panel/clientes']"
            routerLinkActive="active"
          >
            <i class="fe fe-user"></i> Clientes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link h2"
            [routerLink]="['/panel/productos']"
            routerLinkActive="active"
          >
            <i class="fe fe-shopping-bag"></i> Productos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link h2"
            [routerLink]="['/panel/cupones']"
            routerLinkActive="active"
          >
            <i class="fe fe-tag"></i> Cupones
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link h2 -mb-7"
            [routerLink]="['/panel/descuentos']"
            routerLinkActive="active"
          >
            <i class="fa-duotone fa-percent mr-3"></i> Descuentos
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link h2"
            [routerLink]="['/panel/contacto']"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-message mr-3"></i>Mensajes
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link h2"
            [routerLink]="['/panel/ventas']"
            routerLinkActive="active"
          >
            <i class="fe fe-shopping-cart"></i> Ventas
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link h2"
            [routerLink]="['/panel/configuraciones']"
            routerLinkActive="active"
          >
            <i class="fa-solid fa-gears mr-3"></i> Configuraciones
          </a>
        </li>
      </ul>

      <!-- Push content down -->
      <div class="mt-auto"></div>

      <!-- User (md) -->
      <div
        class="navbar-user d-none d-md-flex"
        id="sidebarUser"
        style="display: none !important"
      >
        <!-- Icon -->
        <a
          href="#sidebarModalActivity"
          class="navbar-user-link"
          data-toggle="modal"
        >
          <span class="icon">
            <i class="fe fe-bell"></i>
          </span>
        </a>

        <!-- Dropup -->
        <div class="dropup">
          <!-- Toggle -->
          <a
            href="#"
            id="sidebarIconCopy"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <div class="avatar avatar-sm avatar-online">
              <img
                src="./assets/img/avatars/profiles/avatar-1.jpg"
                class="avatar-img rounded-circle"
                alt="..."
              />
            </div>
          </a>

          <!-- Menu -->
          <div class="dropdown-menu" aria-labelledby="sidebarIconCopy">
            <a href="./profile-posts.html" class="dropdown-item">Profile</a>
            <a href="./account-general.html" class="dropdown-item">Settings</a>
            <hr class="dropdown-divider" />
            <a href="./sign-in.html" class="dropdown-item">Logout</a>
          </div>
        </div>

        <!-- Icon -->
        <a
          href="#sidebarModalSearch"
          class="navbar-user-link"
          data-toggle="modal"
        >
          <span class="icon">
            <i class="fe fe-search"></i>
          </span>
        </a>
      </div>
    </div>
    <!-- / .navbar-collapse -->
  </div>
</nav>
<app-topnav></app-topnav>
